---
import BlogPost from '../components/BlogPost.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';

const allPosts = await Astro.glob('/src/pages/posts/*.md');
const pageTitle = "Mi blog de aprendizaje Astro";
---

<BaseLayout pageTitle={pageTitle}>
    <p>Aquí es donde publicaré sobre mi viaje de aprendizaje Astro.</p>
    <ul>
        {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul>
</BaseLayout>
